#about
    .text-center
        h3
            font-size: 19px
            color: #6f7783
            margin-top: 24px
    .box
        display: flex
        align-items: center
        .imgbox
            border-radius: 50%
            width: 12%
            // display: inline-block
        .textbox
            width: 31%
            display: inline-block
            h2
                font-weight: 700
                font-size: 26px
                margin-bottom: 12px
            p
                font-size: 19px
                color: #6f7783
                line-height: 1.4
        .imgleft
            margin-left: auto
        .txtrght
            text-align: right
            margin-right: 55px
        .txtleft
            margin-left: 55px
