#about
    .box
        display: flex
        flex-direction: column
        align-items: center
        .minibox
            display: flex
            .imgbox
                width: 200px
                border: 5px solid black
                display: flex
                flex-direction: column
                align-items: center
                border-radius: 50%
            .textbox
                width: 40%
            .textrght
                text-align: right