header
    padding: 25px 0
    background-color: #212529
    @media (min-width: 768px)
        .menu
            .imgbox
                width: 140px
            nav
                a
                    display: none
            .btn
                border: 0.5px solid #ffff
                border-radius: 10px
                color: #ffff
    @media (min-width: 768px)
        .menu
            .imgbox
                width: 140px
            nav
                a
                    display: none
            .btn
                border: 0.5px solid #ffff
                border-radius: 10px
                color: #ffff
    @media (min-width: 992px)
        .menu
            .imgbox
                width: 140px
            nav
                a
                    font-size: 18px
                    margin-right: 27px
            .btn
                display: none
