header
    padding: 25px 0
    background-color: #212529
    .menu
        .imgbox
            width: 143px
        nav
            a
                font-size: 18px
                margin: 0 15px
        .btn
            display: none
    @media screen and ( max-width: 991px )
        .menu
            .imgbox
                width: 143px
            .btn
                border: 1px solid #b4b1b1
                width: 100px
                font-size: 20px
            nav
                display: none
