header
    padding: 25px 0
    background-color: #212529
    .menu
        .imgbox
            width: 140px
        nav
            a
                font-size: 18px
                color: #ffff
                margin-right: 27px
        .btn
            display: none
    @media (max-width: 992px)
        .menu
            .imgbox
                width: 140px
            nav
                display: none
            .btn
                border: 1px solid #ffff
                border-radius: 10px
                color: #ffff
