#our
    background-color: #c0c0c020
    .textbox
        h3
            font-size: 20px
            color: #6f7783
            margin-top: 22px
            margin-bottom: 55px
    .box
        .imgbox
            width: 220px
            border-radius: 50%
            border: 8px solid #87818131
        .textbox
            text-align: center
            margin: 15px 0
            h2
                font-size: 29px
                font-weight: 700
            h4
                font-size: 20px
                color: #6f7783
                margin-top: 10px
                margin-bottom: 20px
        ul
            display: flex
            justify-content: center
            li
                margin: 10px
                background-color: #212529
                padding: 12px
                border-radius: 50px
                width: 40px
                display: flex
                justify-content: center
                align-items: center
                transition: 0.5s
                &:hover
                    cursor: pointer
                    background-color: #424649
                .icon
                    color: #ffff
                    i
                        &:hover
                            cursor: pointer
    .textbox
        p
            font-size: 20px
            color: #6f7783
            line-height: 1.6
            width: 810px
            margin-top: 40px
    h1,h3,h2,h4,p
        &:hover
            cursor: auto
